{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>OpenTok Meeting App</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" type="text/css">
        <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    </head>
    <body>
        <div id="videos">
            <div id="subscribers" class="card-group"></div>
            <div id="publisher"></div>
        </div>

        <button id="disconnectBtn" class="btn btn-primary btn-lg btn-session-end">End Session</button>

        <!-- Modal -->
        <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <form id="modalForm" class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="usernameModalLabel">Type your username</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Type your username..." required>
							<ul class="errorlist username" style="list-style:none;padding-left:0;"></ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#usernameModal').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
		
                function csrfSafeMethod (method) {
                    // these HTTP methods do not require CSRF protection
                    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
                }

                function processForm(data) {
                    let csrftoken = $('[name="csrfmiddlewaretoken"]')[0].value;

                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                            }
                        }
                    })

                    return $.ajax({
                        type: 'POST',
                        url: window.location.href,
                        data: data,
                        contentType: false,
                        cache: false,
                        processData: false
                    });
                }

                $('#modalForm').on('submit', function(e) {
                    e.preventDefault();
                    let username = $('[name="username"')[0];
                    const formData = new FormData();

                    $(this).find('[type="submit"]')
                            .prop({
                                'disabled': true
                            }).text('Submitting...');
                    
                    formData.append(username.name, username.value);
                    processForm(formData)
                    .then(res => {
                        const key = res.key;
                        const id = res.id;
                        const token = res.token;
                        const user = username.value
                        // hide the modal
                        $('#usernameModal').modal('hide');
                        initializeSession(key, id, token, user);
                    })
                    .fail(res => {
                        err = res.responseJSON;

                        if (err.username) {
                            $(this).find(".errorlist.username").html(`
                                <li class="errorlist">${err.username[0]}</li>
                            `)
                        }
                    })
                })
            });
        </script>
    </body>
</html>
